---
import Layout from "../layouts/Layout.astro";
import type { Props as SEOProps } from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const seo: SEOProps = {
  seo: {
    title: `Jan Gradič blog`,
    description: "Jan Gradič blog",
    openGraph: {
      basic: {
        title: "Jan Gradič blog",
        image: "/og.png",
        type: "website",
      },
      image: {
        width: 1200,
        height: 630,
        type: "image/png",
        alt: "Hey! I'm Jan, a full stack web developer.",
      },
    },
  },
};
---

<Layout {...seo}>
  <Navigation />
  <main class="p-8">
    <div class="max-w-xl m-auto">
      {
        posts.map((post) => (
          <div class="mb-16">
            <a href={post.url}>
              <img
                src={post.frontmatter.heroImage}
                alt={post.frontmatter.title}
              />
            </a>
            <h2 class="text-2xl mt-4">
              <a href={post.url}>{post.frontmatter.title}</a>
            </h2>
            <p class="mt-2">{post.frontmatter.description}</p>
            <div class="flex justify-between sm:items-center mt-4 sm:flex-row flex-col-reverse">
              <a href={post.url} class="text-lg">
                Read more
              </a>
              <div class="flex items-center mb-4 sm:mb-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class="w-6 mr-2 fill-gray-900 dark:fill-white"
                >
                  <path d="M256 512C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
                </svg>
                <time datetime={post.frontmatter.pubDate}>
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "en-us",
                    {
                      day: "2-digit",
                      month: "long",
                      year: "numeric",
                    }
                  )}
                </time>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
